<h2>Expenses list</h2>

<% if current_user.expenses %>
  <% current_user.expenses.each do |expense| %>
    <%= expense.name %>
    <%= expense.price %>
    <%= expense.paid %>
    <%= expense.monthly %>
  </br>
  <%end%>
<% else %>
  <p> You don't have any expenses, good for you! </p>
  
<% end %>
<p><%= link_to "Add new expense", new_expense_path %></p>
</br>


