<%= simple_form_for @expense do |f| %>
  <%= f.input :name %></br>
  <%= f.input :price %></br>
  <%= f.input :paid, :as => :radio %></br>
  <%= f.input :monthly, :as => :radio %></br>
	<%= f.association :categories %>
  <p><%= f.button :submit %></p>
<% end %>